<a href="https://colab.research.google.com/github/ajmainrahman/Getting-Started-with-Python/blob/main/Basic_Problem_Solve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
n = int(input())
for n in range(n):
  print(n)

4
0
1
2
3

In [17]:
n = int(input())
for i in range(1,n+1):
  print(i,end='')

5
12345

In [18]:
n = 5
for i in range(1, n+1):
    print(i,end='')

12345

In [23]:
a = int(input())
b = int(input())

sum = a//b
sum2 = a/b

print(sum)
print(sum2)

4
3
1
1.3333333333333333

In [39]:
n = int(input())

if n%2==1:
  print('Weird')
elif n%2==0 and 2<=n <=5:
  print('Not Weird')
elif n%2==0 and 6<=n <=20:
  print('Weird')
elif n%2==0 and n>20:
  print('Not Weird')

21
Weird

In [41]:
n = int(input())

if n % 2 == 1:
    print("Weird")
elif n % 2 == 0 and 2 <= n <= 5:
    print("Not Weird")
elif n % 2 == 0 and 6 <= n <= 20:
    print("Weird")
elif n % 2 == 0 and n > 20:
    print("Not Weird")

3
Weird

In [58]:
first = input()
last = input()

print('Hello '+ first + ' ' + last +'! You just delved into python.')

Ross
Taylor
Hello Ross Taylor! You just delved into python.

In [73]:
def full_name(first,last):
  print(f"Hello {first} {last}! You just delved into python.")
  return
if __name__ == '__main__':
    first_name = input()
    last_name = input()
    full_name(first_name, last_name)

Ross
Taylor
Hello Ross Taylor! You just delved into python.

In [ ]:
def split_and_join(line):
  
    return

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

In [78]:
a = 'This is a string'
a = a.split(" ")
a = "-".join(a)
print(a)

This-is-a-string

In [82]:
def split_and_join(line):
   return "-".join(line.split(" "))

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

This is a result
This-is-a-result

In [79]:
s = set('HackerRank')
s.add('H')
>>> print s
set(['a', 'c', 'e', 'H', 'k', 'n', 'r', 'R'])
>>> print s.add('HackerRank')
None
>>> print s
set(['a', 'c', 'e', 'HackerRank', 'H', 'k', 'n', 'r', 'R'])

In [87]:
s = set('HackerRank')
s.add('H')
print(s)

{'a', 'c', 'n', 'r', 'k', 'R', 'H', 'e'}