<a href="https://colab.research.google.com/github/ajmainrahman/Getting-Started-with-Python/blob/main/Pythonipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Swap two variables using a temporary variable
a = 10
b = 20
temp = a
a = b
b = temp
print("a =", a)
print("b =", b)

a = 20
b = 10

In [2]:
a  =10
b  = 30
temp = a
a = b
b = temp
print(a)
print(b)

30
10

In [6]:
s = "Hello World"
s = s.swapcase()
print(s)

hELLO wORLD

In [7]:
s = "Hello World"
swapped_s = s.swapcase()
print(swapped_s)

hELLO wORLD

In [9]:
s = 'hello world'
s = s.swapcase()
print(s)

HELLO WORLD

In [10]:
s = "hello world"
s = s.upper()
print(s)

HELLO WORLD

In [11]:
s = 'HELLO WORLD'
s = s.lower()
print(s)

hello world

In [20]:
def swap_case(s):
  return

if __name__ == '__main__':
  s = input()
  s = s.swapcase()
print(s)

HackerRank.com presents "Pythonist 2".
hACKERrANK.COM PRESENTS "pYTHONIST 2".

In [17]:
x = input()

Ajmain

In [26]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    print(f"{statistics.mean(student_marks[query_name]):.2f}")

2
a 10 20 30
b 20 30 40
a
20.00

In [23]:
import numpy as np

numbers = [1, 2, 3, 4, 5]
median = np.median(numbers)
print(median)

3.0

In [24]:
import statistics

numbers = [1, 2, 3, 4, 5]
median = statistics.median(numbers)
print(median)

3

In [39]:
width = 20
print ('HackerRank'.ljust(width,'-'))

HackerRank----------

In [34]:
width  = 20
print('HackerRank'.center(width,'-'))

-----HackerRank-----

In [36]:
width  = 20
print('HackerRank'.rjust(width,'-'))

----------HackerRank

In [41]:
import textwrap

s = "Lorem ipsum dolor sit amet consectetur."

width = 4
s = textwrap.fill(s, width)

print(s)

Lore
m ip
sum
dolo
r
sit
amet
cons
ecte
tur.

In [46]:
import textwrap

def wrap(string, max_width):
    return textwrap.fill(string, max_width)

if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)

Moshfiqur Rahman Ajmain
4
Mosh
fiqu
r Ra
hman
Ajma
in

In [47]:
import textwrap

s = 'fsdhfgsdhjf jhsdfjhsdnhg fjhsf'
width = 4
new_s = textwrap.fill(s,width)
print(new_s)

fsdh
fgsd
hjf
jhsd
fjhs
dnhg
fjhs
f

In [49]:
name = "aLison heck"
capitalized_name = name.title()
print(capitalized_name)

Alison Heck

In [53]:
Name = 'moshfiqur rahMan AJMAIN'
cap_name = Name.title()
print(cap_name)

Moshfiqur Rahman Ajmain

In [65]:
import calendar
print (calendar.TextCalendar(firstweekday=5).formatyear(2023))

                                  2023

      January                   February                   March
Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr      Sa Su Mo Tu We Th Fr
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [69]:
a = 2
b = 3
c = 4
pow(a,b,c)

0

In [70]:
2**3

8

In [68]:
n1=int(input())
n2=int(input())
m=int(input())
print(pow(n1,n2))
print(pow(n1,n2,m))

2
3
4
8
0

In [ ]:
pow(a)